@import "tailwindcss";

:root {
  --background: #fdf8f5;
  --foreground: #2c231b;
  --dark-brown: #2c231b;
  --accent-orange: #f5b041;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}
