@import "tailwindcss";

:root {
  --background: #fdf8f5;
  --foreground: #2c231b;
  --dark-brown: #2c231b;
  --accent-orange: #f5b041;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html, body {
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}
