@import "tailwindcss";

:root {
  --background: #fdf6e9;
  --foreground: #2d1b08;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}
